

{{>header}}
<h1>{{name}}</h1>

<form action="">
    <input type="text" placeholder="enter Location">
    <input type="submit" value="Submit">
</form>
<p id="show_location"></p>
<p id="show_temprature"></p>
{{>footer}}
<script src="/js/index.js"></script>